name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Build with Buildozer
        uses: ArtemSerebriakov/buildozer-action@v1
        with:
          buildozer_version: stable
          python_version: 3.9
          
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Performance-App
          path: bin/*.apk
          
