name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build APK
        run: |
          pip install buildozer cython
          sudo apt-get install -y zip unzip autoconf libtool
          buildozer android debug
      - name: Release
        uses: actions/upload-artifact@v2
        with:
          name: Performance-App
          path: bin/*.apk

